   <div class="mt-2">
<form action="/favourites" method="POST">
                <input type="hidden" name="homeId" value="<%= home._id %>">
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-1.5 rounded-md text-sm font-semibold shadow transition-colors  mb-2 duration-200">
                    Add to Favourites
                </button>
            </form>
   </div>