<%- include('../partials/head') %>
<body>
   <%- include('../partials/header') %>
   <main class="flex flex-col items-center justify-start min-h-screen w-full pt-8">
      <h1 class="text-6xl text-gray-500 font-bold mb-2">My Bookings</h1>
      <h2 class="text-lg mb-6 text-gray-700 font-semibold">Bookings will appear here</h2>
   </main>
</body>
</html>