<%- include('partials/head') %>
<body>
   <%- include('partials/header') %>
   <main class="flex flex-col items-center justify-start min-h-screen w-full pt-8">
      <h1 class="text-6xl text-red-500 font-bold mb-2">404</h1>
      <h2 class="text-lg mb-6 text-gray-700 font-semibold">Oops! Page not found</h2>
      <a href="/" class="inline-block border-2 border-gray-500 rounded text-sm font-semibold bg-gray-500 text-white px-4 py-2 hover:bg-gray-600 transition">Go to Home</a>
   </main>
</body>
</html>